.container {
  margin-bottom: 20px;
}
.hidden {
  height: 87px;
  overflow-y: hidden;
}
.paragraph {
  white-space: pre-wrap;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

